<form action='/contacts/:id' method='post'>
  <div class='form-group'>
    <label for='type'>Type:</label>
    <select for='type'>
      <option name='type'>Work</option>
      <option name='type'>Home</option>
      <option name='type'>Cell</option>
    </select>
  </div>
  <div class='form-group'>
    <label for='number'>Number:</label>
    <input type='text' name='number'>
  </div>

  <button type='submit'>Add Phone</button>
</form>
